<header>
  <p><%= params.fetch(:artist) %></p>
  <p><%= params.fetch(:song) %></p>
</header>

<ul class="parts">
  <% @parts.each do |part| %>
    <li class="parts--part">
      <p><%= part.video %></p>
      <p><%= part.name %></p>
    </li>
  <% end %>
</ul>

<%= render "identifications/form", identification: Identification.new %>
