<section class="identifications" data-controller="identifications" data-action="gripthumb:results@document->identifications#publish">
  <button class="record-button" data-action="identifications#record" data-target="identifications.recordButton">
    <%= t(".record") %>
  </button>

  <%= form_with model: @identification, class: "form form--enabled", data: {
    target: "identifications.form",
  } do |f| %>
    <%= f.label :artist %>
    <%= f.text_field :artist, data: { target: "identifications.artist" } %>

    <%= f.label :song %>
    <%= f.text_field :song, data: { target: "identifications.song" } %>

    <%= f.submit %>
  <% end %>
</section>
