<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <title>Gripthumb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="manifest" href="/site.webmanifest"></link>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbo-track': 'reload' %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="flex flex-col min-h-screen">
    <header class="fixed h-11 bg-white flex items-center px-4 border-b-2 pt-safe-top w-full">
      <%= link_to new_recording_path, class: "font-mono font-bold text-2xl" do %>
        gripthumb
      <% end %>
    </header>

    <main class="flex flex-col flex-grow mt-11 pt-safe-top">
      <%= yield %>
    </main>
  </body>
</html>
